@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

body {
    background-color: #f7f7ff;
    margin: 0rem;
}

.logo {
    height: 200;
    width: 200;
}

.content {
    margin: 2rem 2rem 0rem 2rem;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}


footer {
    background-color: #fffd8c;
}