@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

body {
    background-color: #f7f7ff;
}

.logo {
    height: 200;
    width: 200;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}